# Shopify Configuration
SHOPIFY_STORE_DOMAIN=nuxt-test-michael.myshopify.com
SHOPIFY_STOREFRONT_ACCESS_TOKEN=51a1df6633f12c718d5dfa53c302de49
SHOPIFY_STOREFRONT_API_VERSION=2025-01

# Optional: Admin API (for server-side operations)
SHOPIFY_ADMIN_ACCESS_TOKEN=your-admin-access-token

# App Configuration
NUXT_PUBLIC_SITE_URL=http://localhost:3000 